---
version: 2.1

workflows:
  version: 2
  build:
    jobs:
      - compcert
      - infer

      - builder
      - buildfarm-base
      - buildfarm-server:
          requires: [buildfarm-base]
      - buildfarm-worker:
          requires: [builder, buildfarm-base]

      - ghc-base
      - ghc-android-aarch64:
          requires: [ghc-base]
      - ghc-android-arm:
          requires: [ghc-base]
      - ghc-android-i686:
          requires: [ghc-base]
      - ghc-android-x86_64:
          requires: [ghc-base]

      - kythe-release
      - kythe-webui
      - kythe-buildenv:
          requires: [kythe-release]
      - kythe-tables:
          requires: [kythe-buildenv]
      - kythe-serving:
          requires: [kythe-release, kythe-tables, kythe-webui]

jobs:
  ##################################################
  #
  # :: Static analysis images
  #
  ##################################################

  compcert:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image compcert toxchat/compcert:latest

  infer:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image infer toxchat/infer:latest

  ##################################################
  #
  # :: Bazel docker-sandbox and buildfarm images
  #
  ##################################################

  builder:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image buildfarm/builder toxchat/builder:latest

  buildfarm-base:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image buildfarm/base toxchat/buildfarm-base:latest

  buildfarm-server:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image buildfarm/server toxchat/buildfarm-server:latest

  buildfarm-worker:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image buildfarm/worker toxchat/buildfarm-worker:latest

  ##################################################
  #
  # :: GHC for Android
  #
  ##################################################

  ghc-base:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image ghc/base toktoknet/ghc:8.10.7

  ghc-android-aarch64:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image ghc-android/aarch64 toktoknet/ghc-android:8.10.7.aarch64

  ghc-android-arm:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image ghc-android/arm toktoknet/ghc-android:8.10.7.arm

  ghc-android-i686:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image ghc-android/i686 toktoknet/ghc-android:8.10.7.i686

  ghc-android-x86_64:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image ghc-android/x86_64 toktoknet/ghc-android:8.10.7.x86_64

  ##################################################
  #
  # :: Kythe code indexing
  #
  ##################################################

  kythe-release:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image kythe/release toxchat/kythe-release:latest

  kythe-webui:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image kythe/webui toxchat/kythe-webui:latest

  kythe-buildenv:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image kythe/buildenv toxchat/kythe-buildenv:latest

  kythe-tables:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image kythe/tables toxchat/kythe-tables:latest

  kythe-serving:
    docker: [{ image: alpine:3.11.5 }]

    steps:
      - run: apk add git openssh-client
      - checkout
      - setup_remote_docker
      - run: .circleci/build-image kythe/serving toxchat/kythe-serving:latest
