build --remote_executor=grpc://localhost:8980

# Java toolchain.
build --extra_toolchains=//tools/toolchain/java:all
build --host_javabase=//tools/toolchain/java:jdk
build --javabase=//tools/toolchain/java:jdk

# C/C++ toolchain.
build --extra_toolchains=//tools/toolchain/config:cc-toolchain
build --crosstool_top=//tools/toolchain/cc:toolchain
build --platforms=//tools/toolchain/config:platform
